.profile__img {
  height: 115px;
  width: 115px;
  border-radius: 50px;
  
}
.profile__box__name {
  font-size: 25px;
  font-weight: 700;
  
}
/*.profile__box__subtitle{
  font-size: 15px;
  color: rgba(0, 0, 0, 0.5);
}
*/
.profile {
  display: flex;
  align-items: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding: 25px 0px;
}
.profile__box{
  display: block;
  margin-left: 25px;
}
.channel__img{
  height: 60px;
  width: 60px;
  border-radius: 25px;
}
.channel {
  display: flex;
  align-items: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding: 25px 0px;
}
.channel__box{
  display: block;
  margin-left: 25px;
}
.channel__box__name {
  font-size: 25px;
  font-weight: 500;
  
}